<!DOCTYPE html>
<html
  lang="zh"
  data-dark="false"
  data-lang="zh"
  data-i18n-page-title="{{ page.i18n_title | default: '' }}"
  data-i18n-site-title="site.title"
  data-i18n-description="{{ page.i18n_description | default: '' }}"
  data-page-title-fallback="{{ page.title | default: page.name | xml_escape }}"
  data-page-description-fallback="{{ page.description | xml_escape }}"
>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
  </body>
</html>
